demo_flows/goal9_pdf_write_gdocs.json
{
  "name": "goal9_pdf_write_gdocs",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -360,
        -40
      ],
      "id": "bc23f8c3-3e96-47a5-a54b-7bd66ed528bc",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "={{ $json.id }}",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "This is super awesome"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        160,
        -40
      ],
      "id": "e3a66c29-6f28-4762-ac24-74737ba3c1ad",
      "name": "Google Docs",
      "retryOnFail": false,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "X6ZeNMUPxGbji1jZ",
          "name": "Google Docs account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.documentId }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "application/pdf"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        460,
        -60
      ],
      "id": "50af25b7-5080-46d7-992f-a27164407d29",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "oXI4Nor8OLLuH5qd",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "folderId": "1HEixErtuVJtzym5h0YL2kiGJOqYfMWei",
        "title": "={{ $json.file_name }}"
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -100,
        -40
      ],
      "id": "47e33470-ad5b-46f5-a3a3-e5983ecb44d1",
      "name": "Google Docs1",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "X6ZeNMUPxGbji1jZ",
          "name": "Google Docs account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "edc3ffec-6c1a-426d-9eb2-10586e32a926",
              "name": "documentId",
              "value": "={{ $json.documentId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        140
      ],
      "id": "fd944cb4-641e-4ce9-984e-51b40cb8d78f",
      "name": "Edit Fields"
    }
  ],
  "pinData": {
    "When clicking ‘Test workflow’": [
      {
        "json": {
          "file_name": "First_Gdocs"
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Docs1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Docs1": {
      "main": [
        [
          {
            "node": "Google Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0dd69d96-49ee-4b2a-9b3c-fc4cbb0f80aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c49880621b47b7272aa465465eae95e198d1a2bafce89b9928afc1be5e9abe54"
  },
  "id": "AIn66cgbU09oW0d0",
  "tags": []
}