demo_flows/goal11_4_important_nodes.json
{
  "name": "goal11_4_important_nodes",
  "nodes": [
    {
      "parameters": {
        "fieldToSplitOut": "joblink",
        "include": "={{ $json.joblink }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -40,
        -89.5
      ],
      "id": "5942161f-6c2e-46b3-954c-d9ce59b006e1",
      "name": "Split Out"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "person.name",
              "field2": "person.name"
            }
          ]
        },
        "fuzzyCompare": true,
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        3040,
        40
      ],
      "id": "d5972861-57e3-41c0-8251-d2a474f6b539",
      "name": "Compare Datasets"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        180,
        -89.5
      ],
      "id": "b6058609-cb53-4740-b7d9-d4c9a7118079",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "joblink",
              "cssSelector": "td .titleline > a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        -260,
        -89.5
      ],
      "id": "48d32710-7d0c-4481-aea8-f6c855690bce",
      "name": "HTML"
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2055132d-889c-8070-968f-e4fd19deca24",
          "mode": "list",
          "cachedResultName": "support_db",
          "cachedResultUrl": "https://www.notion.so/2055132d889c8070968fe4fd19deca24"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -480,
        -500
      ],
      "id": "c087d826-30c7-4120-a9b8-5bcb514557f1",
      "name": "Notion",
      "credentials": {
        "notionApi": {
          "id": "LFXGIOi24ARuAYI5",
          "name": "yt_api"
        }
      }
    },
    {
      "parameters": {
        "resource": "databasePage",
        "operation": "getAll",
        "databaseId": {
          "__rl": true,
          "value": "2045132d-889c-803e-bb71-dab8d088efa1",
          "mode": "list",
          "cachedResultName": "ai_hype",
          "cachedResultUrl": "https://www.notion.so/2045132d889c803ebb71dab8d088efa1"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "position": [
        -480,
        -300
      ],
      "id": "af3955c7-b2f7-45fe-857d-087e7d81747c",
      "name": "Notion1",
      "credentials": {
        "notionApi": {
          "id": "LFXGIOi24ARuAYI5",
          "name": "yt_api"
        }
      }
    },
    {
      "parameters": {
        "url": "https://news.ycombinator.com/jobs?next=43925306&n=31",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -480,
        -89.5
      ],
      "id": "fc293e5d-070b-46f0-9034-1161f76f3e50",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        400,
        -89.5
      ],
      "id": "c0c1f2eb-80fb-46e7-986c-85467018ed75",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "url": "={{ $('Split Out').item.json.joblink }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        -89.5
      ],
      "id": "c0253cc2-10a1-470b-b65e-b30a4cecf0cb",
      "name": "HTTP Request1",
      "retryOnFail": true
    },
    {
      "parameters": {
        "jsCode": " return [\n{\n\"fruit\": \"apple\",\n\"color\": \"green\",\n},\n{\n\"fruit\": \"orange\",\n\"color\": \"orange\",\n},\n{\n\"fruit\": \"grape\",\n\"color\": \"green\",  \n},\n{\n\"fruit\": \"strawberry\",\n\"color\": \"red\",\n},\n{\n\"fruit\": \"banana\",\n\"color\": \"yellow\",\n}\n];\n"
      },
      "id": "25bdb49e-c066-44cf-8657-430836770425",
      "name": "Dataset 1",
      "type": "n8n-nodes-base.code",
      "position": [
        2820,
        -500
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": " return [\n{\n\"fruit\": \"apple\",\n\"color\": \"green\",\n},\n{\n\"fruit\": \"grape\",\n\"color\": \"purple\",\n},\n{\n\"fruit\": \"orange\",\n\"color\": \"orange\",\n},\n{\n \"fruit\": \"kiwi\",\n \"color\": \"mostly green\"\n},\n{\n\"fruit\": \"banana\",\n\"color\": \"yellow\",\n}\n];\n"
      },
      "id": "a01ce12c-d230-412a-9ac5-fd2a9bc34196",
      "name": "Dataset 2",
      "type": "n8n-nodes-base.code",
      "position": [
        2820,
        -300
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "content": "## Explore outputs \n\nIn the OUTPUT panel of this node, click on the different tabs to see which data goes to which output stream.",
        "height": 905,
        "width": 542
      },
      "id": "93ceb8a2-f8f2-4d81-aabe-e1b56d3f5a3e",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2740,
        -620
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "fruit",
              "field2": "fruit"
            }
          ]
        },
        "options": {}
      },
      "id": "219a5957-38a1-4a9a-b5d7-ee051e9f5658",
      "name": "Compare Datasets1",
      "type": "n8n-nodes-base.compareDatasets",
      "position": [
        3040,
        -420
      ],
      "typeVersion": 2.3
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"person\": {\n      \"name\": \"Sara\",\n      \"language\": \"fr\"\n    }\n  },\n  {\n    \"person\": {\n      \"name\": \"Jane\",\n      \"language\": \"en\"\n    }\n  },\n  {\n    \"person\": {\n      \"name\": \"Harriet\",\n      \"language\": \"de\"\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        -40
      ],
      "id": "45af6ef0-3253-46f5-ac49-7ca5f8a246da",
      "name": "Code"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    \"person\": {\n      \"name\": \"Shifu\",\n      \"language\": \"cn\"\n    }\n  },\n  {\n    \"person\": {\n      \"name\": \"Jane\",\n      \"language\": \"en\"\n    }\n  },\n  {\n    \"person\": {\n      \"name\": \"Sara\",\n      \"language\": \"de\"\n    }\n  }\n]"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2820,
        160
      ],
      "id": "bfa812aa-f5bb-457b-a28b-5e531cfdd6e3",
      "name": "Code1"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "property_vid",
              "field2": "property_vid"
            }
          ]
        },
        "resolve": "preferInput1",
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        -40,
        -421
      ],
      "id": "bc0bad16-0074-4b18-ae71-53ff0679f846",
      "name": "Compare Datasets2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "e82f3899-804c-4a3d-b586-324839dc4801",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "3e7d2c02-c803-40eb-8ad7-07d0234411d4",
              "name": "property_vid",
              "value": "={{ $json.property_vid }}",
              "type": "string"
            },
            {
              "id": "493f5e20-7f20-43db-b32d-f5e03239a282",
              "name": "property_downloaded",
              "value": "={{ $json.property_downloaded }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        -500
      ],
      "id": "5cfdacfd-1cd8-4216-874e-c7fad86db945",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ec6d85b7-d846-4ee0-a128-af5cfdad3cd2",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            },
            {
              "id": "e9ac1bad-2a48-43c9-a857-b8ef6c87e619",
              "name": "property_vid",
              "value": "={{ $json.property_vid }}",
              "type": "string"
            },
            {
              "id": "f2a4a9b4-cad5-4882-ba12-6551f84e62e4",
              "name": "property_downloaded",
              "value": "={{ $json.property_downloaded }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -260,
        -300
      ],
      "id": "c665275c-a8e9-4bbe-8605-1f733cbe43d1",
      "name": "Edit Fields1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -920,
        -240
      ],
      "id": "e9d4f912-e3c8-4b09-8114-35d9c342169a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "mergeByFields": {
          "values": [
            {
              "field1": "property_vid",
              "field2": "property_vid"
            }
          ]
        },
        "resolve": "preferInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.compareDatasets",
      "typeVersion": 2.3,
      "position": [
        1280,
        -620
      ],
      "id": "fe1ed35f-48e2-42b8-8281-50e00cf71bbc",
      "name": "Compare Datasets3"
    },
    {
      "parameters": {
        "fieldToSplitOut": "joblink",
        "include": "={{ $json.joblink }}",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1280,
        -360
      ],
      "id": "6000f5f5-0d99-40f0-bb3b-a6d2d1c42bd9",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "maxItems": 3
      },
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        1280,
        -120
      ],
      "id": "5ec77a01-693b-4f28-a35e-859db630b3e6",
      "name": "Limit1"
    },
    {
      "parameters": {
        "operation": "extractHtmlContent",
        "extractionValues": {
          "values": [
            {
              "key": "joblink",
              "cssSelector": "td .titleline > a",
              "returnValue": "attribute",
              "attribute": "href",
              "returnArray": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1280,
        120
      ],
      "id": "14df5896-e8dc-47d3-aeac-891ae12a8b12",
      "name": "HTML1"
    },
    {
      "parameters": {
        "content": "",
        "height": 980,
        "width": 320
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1220,
        -660
      ],
      "typeVersion": 1,
      "id": "5a1620ad-f699-4627-a49f-13bab782b2ac",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# 4 Important n8n Nodes",
        "height": 80,
        "width": 1020
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        880,
        -920
      ],
      "typeVersion": 1,
      "id": "16437ead-7398-411b-be6a-32f769e2ce92",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Split Out": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare Datasets": {
      "main": [
        []
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notion1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dataset 1": {
      "main": [
        [
          {
            "node": "Compare Datasets1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dataset 2": {
      "main": [
        [
          {
            "node": "Compare Datasets1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Compare Datasets",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Compare Datasets2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Compare Datasets2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Notion",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notion1",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": true,
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5ade9818-05a5-4e85-a175-bd968a195df1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "499352852cc9031b17b483ee614e41c0eb8111c0ebe0d38042c1f4730174b8c7"
  },
  "id": "RTyKXtRIipU9YPXd",
  "tags": []
}