demo_flows/read_file_write_html.json
{
  "name": "read_file_write_html",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -660,
        -25
      ],
      "id": "f2260cf6-5c25-477e-b646-f80f05da19f0",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "fileSelector": "/data/shared/simple_order_data.csv",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -440,
        -25
      ],
      "id": "13ba0538-f654-4e9a-9629-b3745fc35c76",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        -220,
        -25
      ],
      "id": "88feabe4-e5fa-438c-bcc9-907f342c0f89",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        220,
        -25
      ],
      "id": "68b48e8b-f2e1-471c-a45f-cc3cde4a73db",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "html",
        "options": {
          "fileName": "={{ $('Extract from File').item.json.name }}.html"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        440,
        -100
      ],
      "id": "e68fc94d-519d-4c78-b1e7-b3564e7e5155",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "/data/shared/output.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        660,
        -100
      ],
      "id": "ed9bfd9c-c168-4941-b2cf-cd54fb5f29b5",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "content": "## Customer Order CSV to Invoice PDF\n\n### Sections\n\n#### - Reading Data from Order CSV file\n#### - Creating HTML Invoice\n#### - Writing HTML data to File\n#### - Converting HTML file to PDF File",
        "height": 260,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -620
      ],
      "typeVersion": 1,
      "id": "fa5d9f08-5291-4fb1-acf8-2334cab1fec2",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Reading CSV Data",
        "height": 260,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        -100
      ],
      "typeVersion": 1,
      "id": "f54531a1-6051-4848-af34-cef3790ef611",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Writing HTML Data ",
        "height": 260,
        "width": 400,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        400,
        -180
      ],
      "typeVersion": 1,
      "id": "b6f0bb6f-5b37-4adf-9aca-bf9c1b5e6e37",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html>\n<head>\n  <meta charset=\"utf-8\" />\n  <title>Invoice</title>\n  <style>\n    body {\n      font-family: 'Arial', sans-serif;\n      font-size: 14px;\n      color: #333;\n      margin: 40px;\n    }\n    .invoice-box {\n      max-width: 700px;\n      padding: 20px;\n      border: 1px solid #eee;\n      box-shadow: 0 0 10px #eee;\n    }\n    .header {\n      display: flex;\n      justify-content: space-between;\n      margin-bottom: 24px;\n    }\n    .title {\n      font-size: 24px;\n      font-weight: bold;\n      color: #555;\n    }\n    .info {\n      margin-bottom: 20px;\n    }\n    table {\n      width: 100%;\n      border-collapse: collapse;\n      margin-bottom: 20px;\n    }\n    table td {\n      padding: 10px;\n      border-bottom: 1px solid #eee;\n    }\n    .total {\n      font-weight: bold;\n      background-color: #f9f9f9;\n    }\n    .spacer {\n      height: 60px; /* Space for future items */\n    }\n    .terms {\n      font-size: 12px;\n      color: #777;\n      border-top: 1px solid #ccc;\n      padding-top: 20px;\n    }\n  </style>\n</head>\n<body>\n  <div class=\"invoice-box\">\n    <div class=\"header\">\n      <div>\n        <div class=\"title\">Insight Builder</div>\n        786 Maru Rd<br />\n        GreenCool City, GC 90009<br />\n        Email: insighthacker21@insightbuilder.com\n      </div>\n      <div>\n        <strong>Invoice To:</strong><br />\n        {{ $json.customer_name }}<br />\n        {{ $json.customer_email }}<br />\n        {{ $json.customer_address }}<br />\n        Invoice #: {{ $json.invoice_number }}<br />\n        Date: {{ $json.invoice_date }}\n      </div>\n    </div>\n\n    <div class=\"info\">\n      <strong>Item:</strong>{{ $json.item_description }} <br />\n      <strong>Quantity:</strong> {{ $json.item_quantity }}<br />\n      <strong>Rate:</strong> {{ $json.item_rate }}<br />\n      <strong>Amount:</strong> {{ $json.item_amount }}\n    </div>\n\n    <!-- Placeholder space for future items -->\n    <div class=\"spacer\"></div>\n\n    <table>\n      <tr>\n        <td>Tax ({{ $json.tax_rate }}%)</td>\n        <td>{{ $json.tax_amount }}</td>\n      </tr>\n      <tr class=\"total\">\n        <td>Total</td>\n        <td>{{ $json.total_amount }}</td>\n      </tr>\n    </table>\n\n    <div class=\"terms\">\n      <strong>Terms & Conditions:</strong><br />\n      Payment is due within 7 days of invoice date.<br />\n      Late payments may incur a 5% late fee.<br />\n      Please contact us at insighthacker21@insightbuilder.com for questions regarding this invoice.<br />\n      Services are non-refundable once delivered.\n    </div>\n  </div>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        0,
        -25
      ],
      "id": "a253c221-8e39-4063-880b-bdc879262049",
      "name": "Invoice HTML Template"
    },
    {
      "parameters": {
        "command": "=wkhtmltopdf /data/shared/output.html /data/shared/output_{{ $now.toString().split(\":\")[2] }}.pdf"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        880,
        -25
      ],
      "id": "7b5cae6f-3cc5-47fb-9e57-59ecbd905e6d",
      "name": "HTML TO PDF Command"
    },
    {
      "parameters": {
        "content": "## Sections of the Video\n\n#### - Demo of the flow in working \n\n#### - Explaining the Concept of HTML to PDF\n\n#### - How to Create the Docker Image with HTML to PDF convertor \n\n#### - How to Set up Docker Compose for uploading & Downloading processed files\n\n#### - Explaining the n8n Nodes in Flow",
        "height": 360,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -120,
        -640
      ],
      "typeVersion": 1,
      "id": "a4d4c5b4-9420-4b79-82f2-105762d54628",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Supporting Links\n\n1 - https://wkhtmltopdf.org/\n\n2 - https://docs.n8n.io/integrations/builtin/core-nodes/n8n-nodes-base.html/\n\n3 - https://github.com/insightbuilder/n8n_workflow_with_python/tree/main/demo_flows\n\n#### Video found in playlist: \nhttps://www.youtube.com/playlist?list=PLbzjzOKeYPCr98J6k-G6WzRkYmGmlIVZC ",
        "height": 360,
        "width": 620
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        540,
        -640
      ],
      "typeVersion": 1,
      "id": "ff2dd0de-91c3-4440-9d05-eb2549dee84a",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Invoice HTML Template",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "HTML TO PDF Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Invoice HTML Template": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML TO PDF Command": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "309da37f-bd62-42bf-a9e2-247ee6f25790",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2954010731ae1c2223159c64e7411f250ca0ff14934299cd5fdbfd7bf769d6ad"
  },
  "id": "98pKed622fOF0cZY",
  "tags": []
}